aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.0
attrs==24.2.0
certifi==2024.2.2
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.3
colorama==0.4.6
distro==1.9.0
dnspython==2.2.1
email-validator==1.3.0
et-xmlfile==1.1.0
Flask==2.2.2
Flask-Cors==4.0.1
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.0.1
frozenlist==1.4.1
googletrans==4.0.0rc1
greenlet==3.0.3
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.9.1
httpcore==1.0.6
httpx==0.27.2
hyperframe==5.2.0
idna==2.10
itsdangerous==2.1.2
Jinja2==3.1.2
jiter==0.5.0
MarkupSafe==2.1.1
marshmallow==3.21.2
multidict==6.1.0
numpy==2.1.1
openai==1.54.0
openpyxl==3.1.5
packaging==24.0
paho-mqtt==1.6.1
pandas==2.2.3
pydantic==2.9.2
pydantic_core==2.23.4
pygame==2.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.30
tqdm==4.66.5
typing_extensions==4.11.0
tzdata==2024.2
urllib3==2.2.1
Werkzeug==2.2.2
WTForms==3.0.1
yarl==1.13.1
